#f_chart {
    // We don't need no stinking size. Stupid D3 takes care of it
    font: 10px sans-serif;

    text {
        fill: #333;
    }

    path.candle {
        stroke: #333;
    }

    path.candle.body {
        stroke-width: 0;
    }

    path.candle.up {
        fill: #00AA00;
        stroke: #00AA00;
    }

    path.candle.down {
        fill: #DD0000;
        stroke: #DD0000;
    }
}
